<footer class="bg-[#4B3621] text-white p-10">
   
    <div class="max-w-7xl mx-auto flex flex-col md:flex-row justify-between items-center space-y-4 md:space-y-0">
        <div>
            <h2 class="text-lg font-semibold">Quick Links</h2>
            <div class="flex flex-col space-y-2">
            <a href="#">Home</a>
            <a href="#">Products</a>
            <a href="#">Order</a>
            <a href="#">About Us</a>
            </div>
        </div>
        <div>
            <img src="https://t3.ftcdn.net/jpg/03/06/83/50/240_F_306835009_kvmkGvlsLQ3BwbJ7oKiLF23caTOYPyJz.jpg" alt="Logo"
                 class="h-20 w-20 rounded-full object-cover" />
          </div>
        <div>
        <h2 class="text-lg font-semibold">Contact Us</h2>
        <p>FN Furniture, Kisumu</p>
        <p>Phone: +254 712 345 678</p>
        <p>Email: info&#64;fnfurnitures.co.ke</p>
      </div>
  
    </div>
  </footer>
  